:root {
  /* Primary Colors */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-second: hsl(237, 14%, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background: var(--very-dark-blue);
  overflow-x: hidden;
}

/* Light mode / Dark mode */

body.light-mode {
  background: var(--very-light-gray);
}

body.light-mode header .desktop-img {
  display: none;
}

body.light-mode header .desktop-img-light {
  display: block;
}

body.light-mode .main-container form .list-items {
  box-shadow: 3px 20px 40px 10px rgba(0, 0, 0, 0.1),
    inset 3px 20px 40px 10px rgba(0, 0, 0, 0.1);
}

body.light-mode .main-container form .create-list,
body.light-mode .main-container form .create-list input[type="checkbox"]::after,
body.light-mode .main-container form .create-list input[type="text"],
body.light-mode .main-container form .list-items ul li .individual-list,
body.light-mode .main-container form .list-items ul li:last-child,
body.light-mode
  .main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]::after {
  background: var(--very-light-gray);
  color: var(--very-dark-grayish-blue);
}

body.light-mode .main-container form .create-list input[type="checkbox"],
body.light-mode .main-container form .list-items ul li input[type="checkbox"] {
  background: var(--light-grayish-blue);
}

body.light-mode .main-container form .create-list input[type="checkbox"]:hover,
body.light-mode
  .main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]:hover,
body.light-mode
  .main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]:checked,
body.light-mode
  .main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]:checked::after {
  background: var(--check-background);
}

body.light-mode .main-container form .list-items ul li .individual-list,
body.light-mode .main-container form .list-items ul li:last-child {
  border-bottom: 1px solid var(--very-light-grayish-blue);
}

body.light-mode
  .main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]:checked::after {
  background: var(--check-background);
}

body.light-mode
  .main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]:checked
  ~ .todo-items
  span {
  color: var(--light-grayish-blue);
}

body.light-mode
  .main-container
  form
  .list-items
  ul
  li:last-child
  .items-status
  button:not(:first-child):hover,
body.light-mode
  .main-container
  form
  .list-items
  ul
  li:last-child
  .clear-items
  button:hover {
  color: var(--very-dark-grayish-blue);
}

header {
  width: 100%;
  height: auto;
}

header .desktop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .desktop-img-light,
.mobile-img-light {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

header .mobile-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .mobile-img-light {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-container .header-section {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 80px;
}

.main-container .header-section h1 {
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #fff;
}

.main-container .header-section img {
  cursor: pointer;
}

.main-container .header-section .night-mode {
  display: none;
}

.main-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: -10%;
}

.main-container form .create-list {
  padding: 1rem;
  border-radius: 5px;
  background: var(--very-dark-desaturated-blue);
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 3px 20px 30px rgba(0, 0, 0, 0.4);
}

.main-container form .create-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--very-dark-grayish-blue);
  outline: none;
  cursor: pointer;
}

.main-container form .create-list input[type="checkbox"]::after {
  content: "";
  position: absolute;
  transform: translate(1px, 1px);
  height: 18px;
  width: 18px;
  background: var(--very-dark-desaturated-blue);
  border-radius: 50%;
}

.main-container form .create-list input[type="checkbox"]:hover {
  background: var(--check-background);
}

.main-container form .create-list input[type="text"] {
  margin-left: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: none;
  background: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
  caret-color: var(--bright-blue);
  font: 14px "Josefin Sans";
}

.main-container form .create-list input[type="text"]::placeholder {
  color: var(--dark-grayish-blue);
}

.main-container form .list-items {
  width: 100%;
  margin-top: 30px;
  box-shadow: 3px 20px 40px 10px rgba(0, 0, 0, 0.4);
}

.main-container form .list-items ul {
  list-style: none;
}

.main-container form .list-items ul li.hide {
  display: none;
}

.main-container form .list-items ul li .individual-list {
  cursor: move;
}

.main-container form .list-items ul li .individual-list,
.main-container form .list-items ul li:last-child {
  background: var(--very-dark-desaturated-blue);
  padding: 1rem;
  border-bottom: 1px solid var(--very-dark-grayish-blue);
  color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.main-container form .list-items ul .individual-list.dragging {
  opacity: 0.5;
}

.main-container form .list-items ul li:first-child .individual-list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-container form .list-items ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container form .list-items ul li:last-child .no-of-items {
  color: var(--dark-grayish-blue);
}

.main-container form .list-items ul li:last-child .items-status button,
.main-container form .list-items ul li:last-child .clear-items button {
  background: none;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  font-family: "Josefin Sans", serif;
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.show-all:active,
.show-active:active,
.show-completed:active,
.clear-completed:active {
  transform: scale(0.95);
}

.main-container form .list-items ul li:last-child .items-status button {
  margin-left: 15px;
}

.main-container
  form
  .list-items
  ul
  li:last-child
  .items-status
  button:first-child {
  color: var(--bright-blue);
}

.main-container
  form
  .list-items
  ul
  li:last-child
  .items-status
  button:not(:first-child):hover,
.main-container form .list-items ul li:last-child .clear-items button:hover {
  color: var(--very-light-gray);
}

.main-container form .list-items ul li input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--very-dark-grayish-blue);
  outline: none;
  cursor: pointer;
}

.main-container form .list-items ul li input[type="checkbox"]::after {
  content: "";
  position: absolute;
  transform: translate(1px, 1px);
  height: 18px;
  width: 18px;
  background: var(--very-dark-desaturated-blue);
  border-radius: 50%;
}

.main-container form .list-items ul li input[type="checkbox"]:hover {
  background: var(--check-background);
}

.main-container form .list-items ul li .individual-list > img {
  position: absolute;
  transform: translateX(40%);
  display: none;
}

.main-container form .list-items ul li input[type="checkbox"]:checked::after {
  background: var(--check-background);
}

.main-container
  form
  .list-items
  ul
  li
  .individual-list
  input[type="checkbox"]:checked
  ~ img {
  display: block;
  pointer-events: none;
}

.main-container
  form
  .list-items
  ul
  li
  input[type="checkbox"]:checked
  ~ .todo-items
  span {
  text-decoration: line-through;
  color: var(--very-dark-grayish-blue);
}

.main-container form .list-items ul li .todo-items {
  margin-left: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container form .list-items ul li .todo-items span {
  cursor: pointer;
  user-select: none;
  word-wrap: break-word;
  text-overflow: ellipsis;
  width: 100%;
}

.main-container form .list-items ul li .todo-items img {
  display: none;
  cursor: pointer;
}

.main-container form .list-items ul li .todo-items:hover > img {
  display: block;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

footer small {
  text-align: center;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .main-container form {
    margin-top: -7%;
  }
}

@media (max-width: 750px) {
  .main-container form {
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  body.light-mode header .desktop-img-light,
  body.light-mode header .mobile-img {
    display: none;
  }

  body.light-mode header .mobile-img-light {
    display: block;
  }

  bosy header .desktop-img {
    display: none;
  }

  header .mobile-img {
    display: block;
  }

  .main-container .header-section {
    width: 450px;
  }

  .main-container form {
    width: 450px;
    margin-top: -28%;
  }
}

@media (max-width: 450px) {
  .main-container .header-section {
    width: 400px;
  }

  .main-container form {
    width: 400px;
    margin-top: -20%;
  }

  .main-container form .list-items ul li:last-child,
  .main-container form .list-items ul li:last-child .items-status button,
  .main-container form .list-items ul li:last-child .clear-items button {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .main-container .header-section {
    width: 350px;
  }

  .main-container form {
    width: 350px;
    margin-top: -20%;
  }

  .main-container form .list-items ul li:last-child,
  .main-container form .list-items ul li:last-child .items-status button,
  .main-container form .list-items ul li:last-child .clear-items button {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .main-container .header-section {
    width: 325px;
  }

  .main-container form {
    width: 325px;
    margin-top: -10%;
  }
  .main-container form .list-items ul li input[type="checkbox"]::after {
    transform: translate(0.5px, 1px);
  }

  .main-container form .list-items ul li:last-child .items-status button {
    margin-left: 5px;
  }
}
